
body{
    margin: 0;
    /* padding: 0; */
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

button{
    font-family: 'Lato',sans-serif;
}
h1{
    margin: 0;
}
p{
    margin:0;
}
.bg-gray-900{
    background-color: #121826;
}

.text-white{
    color: #fff;
}

.block{
    display: block;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
    margin-top: 10px;
}
.hidden{
    display: none;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.m-8 {
    margin: 8px;
}
.p-8 {
    padding: 8px;
}
.pt-18 {
    padding-top: 18px;
}
.py-18 {
    padding-top: 18px;
    padding-bottom: 18px;
}
.py-8{
    padding-top: 8px;
    padding-bottom: 8px;
}
.px-16{
    padding-left: 16px;
    padding-right: 16px;
}
.py-12{
    padding-top: 12px;
    padding-bottom: 12px;
}
.px-28{
    padding-left: 28px;
    padding-right: 28px;
}
.no-underline{
    text-decoration: none;
}
.bg-brand-color{
    background-color: #539d98;
}
.border-none{
    border:none;
}
.rounded-full{
    border-radius: 9999px;
}
.uppercase{
    text-transform: uppercase;    
}
.text-sm{
    font: size 14px;
}
.w-full{
    width: 100%;
}
.relative{
    position: relative;
    
}
.z-10{
    z-index: 10;
}
.object-cover{
    object-fit: cover;
}
.text-brand-teal{
    color: #90cac7;
}
.text-brand-teal-dark{
    color: #539d98;
}
.bg-white{
    background-color:white;
}
.absolute{
    position: absolute;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

 /* Simple Responsive Framework. */
  /*------ Desktop ------*/
  @media (min-width: 992px){
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;  
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  
  }
  
  
  /*------ Tablet ------*/
  @media (min-width: 768px) and (max-width: 991px){
    .col-lg-4 {
      width: 50%;
      float: left;
    }
    .col-lg-tablet{
     width: 100%;
     float: left;
   }
  }
  
  
  /*------ Mobile ------*/
  @media (max-width: 767px){
    .col-lg-4{
      width: 100%;
      float: left;
    }
  }