body{
    margin: 0;
    /* padding: 0; */
}

.bg-gray-900{
    background-color: #121826;
}

.text-white{
    color: #fff;
}

.block{
    display: block;
}
.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
    margin-top: 10px;
}
.hidden{
    display: none;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.m-8 {
    margin: 8px;
}
.p-8 {
    padding: 8px;
}
.pt-18 {
    padding-top: 18px;
}
.py-18 {
    padding-top: 18px;
    padding-bottom: 18px;
}